body {
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  line-height: 1.1em;
  background-color: #fff;
  color: #333333;
}

a {
  color: #4119EB;
}

// Headers
h1, h2, h3, h4 {
  color: #1B0869;
}

h2,
.text-beta,
#toctitle {
  margin-top: 20px;
}

h3,
.text-gamma {
  margin-top: 20px;
}

h4,
.text-delta {
  line-height: 24px;
  margin-top: 20px;
}

// Search
.search-input {
    background-color: #F5F5F5;
    height: 38px;
    margin-top: 10px;
    border-radius: 8px;
    margin-left: 26px;
    width: auto;
    padding-left: 2.1rem;
}

.search-label {
  transition: none;
}

.search-active .search-label {
  padding-left: 2rem;
}

// Navigation
.side-bar {
  background-color: #F5F5FD;
}

.nav-list {
  .nav-list-item {

    a {
      color: #333;
    }

    .nav-list-link {
      &.active {
        font-weight: 600;
        text-decoration: none;
      }

      &:hover,
      &.active {
          background-color: #E9E8F8;
      }
    }

    .nav-list-expander {
      &:hover {
          background-color: #E9E8F8;
      }
    }

    > .nav-list {
      .nav-list-item {
        .nav-list-link {
          color: #333;
        }

        .nav-list-expander {
          color: #7253ed;
        }
      }
    }
  }
}

// Tables
.table-wrapper {
  box-shadow: none;
}

thead th {
  border: none;
  background-color: #221051;
  color: #fff;
}

tbody td {
  border: none;
}

tbody tr:nth-child(odd) {
  background-color: #F7F7F7;
}

tbody tr td {
  background: none;
}
/* Material icons standard size */

.material-icons.md-18 { font-size: 18px; }


/* Code */
code {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
}

.highlight .k {
  color: #00a351;
} // keyword //
.highlight .n {
  color: #2b2b2b;
} // name //
.highlight .p {
  color: #3b3b3b;
} // punctuation //
.highlight .nb {
  color: #7500a3;
} // name.builtin //

/* Copy copy button */
button.code-copy {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0px;
  cursor: pointer;
}

.highlighter-rouge {
  display: flex;
  flex-direction: row;
  .highlight {
    flex-grow: 1;
  }
}