<!-- custom footer automatically appears at the bottom of each page -->

<p>
  <a href="https://discord.com/invite/bSBYjDbUUb?utm_campaign=FeatureBase_Launch&utm_source=Website&utm_medium=Community_page" target="_blank">Get support on the FeatureBase Discord channel</a> | <a href="https://github.com/FeatureBaseDB/featurebase-docs/issues" target="_blank">Raise a help issue </a> | <a href="https://www.featurebase.com/contact-us" target="_blank">Contact FeatureBase</a>
</p>
<p>
  Copyright &copy; 2023 <a href="https://featurebase.com"" target="_blank" rel="noopener">FeatureBase</a>. All rights reserved.
</p>
