<!-- custom footer automatically appears at the bottom of each page -->

<p>
  <span class="material-icons md-18">support_agent</span> <a href="https://featurebase.com/slack" target="_blank">Contact FeatureBase support</a> | <span class="material-icons md-18">bug_report</span> <a href="https://github.com/FeatureBaseDB/featurebase-docs/issues" target="_blank">Raise help issue </a> | <span class="material-icons md-18">outgoing_mail</span> <a href="https://www.featurebase.com/contact-us" target="_blank">Contact FeatureBase</a>
</p>
<p>
  Copyright &copy; 2023 <a href="https://featurebase.com" target="_blank" rel="noopener">FeatureBase</a>. All rights reserved.
</p>
