<h2>How do I create a shaped database?</h2>
<!--This page in HTML because I needed to incorporate includes into the table</h2>

<table>
  <tr>
    <th>
      Database type
    </th>
    <th>
      Description
    </th>
    <th>
      Availability
    </th>
    <th>
      Additional information
    </th>
  <tr>
  <tr>
    <td>
      Small
    </td>
    <td>
      {% include /cloud-db/cloud-small-db-summary.md %}
    </td>
    <td>
      <ul>
        <li>**Home** page when no other databases exist</li>
      </ul>
    </td>
    <td>
      <a href="/docs/cloud/cloud-databases/cloud-db-create-small">Learn how to create a small database</a>
    </td>
  </tr>
  <tr>
    <td>
      Sample
    </td>
    <td>
      {% include /cloud-db/cloud-sample-db-summary.md %}
    </td>
    <td>
      <ul>
        <li>**Home** page when no other databases exist</li>
      </ul>
    </td>
    <td>
      <a href="/docs/cloud/cloud-databases/cloud-db-create-sample">Learn how to create a sample database</a>
    </td>
  </tr>
  <tr>
    <td>
      Custom
    </td>
    <td>
      Specify the resources to provision for your database, plus the region the database is created.
    </td>
    <td>
      <ul>
        <li>**Home** page when no other databases exist</li>
        <li>**Databases** page</li>
      </ul>
    </td>
    <td>
      <a href="/docs/cloud/cloud-databases/cloud-db-create-custom">Learn how to create a custom database</a>
    </td>
  <tr>
</table>
